In [22]:
import pyspark
from pyspark.sql import Row
import pandas as pd
from datetime import datetime, date

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [4]:
spark

In [7]:
df = spark.read.csv('nba_tweets.csv', header = True)

In [8]:
df.show()

+-------------------+-------------------+--------------------+----------+--------+--------+-------------------+---------------+--------------------+-----+----------------------------------+--------+--------------------+--------------------+------+-------------+--------------+-----------+--------------------+--------+--------------------+-------+---------+-----+--------------------+----+----+------+----------+-------+----------+--------------------+------------+---------+---------+----------+
|                 id|    conversation_id|          created_at|      date|    time|timezone|            user_id|       username|                name|place|                             tweet|language|            mentions|                urls|photos|replies_count|retweets_count|likes_count|            hashtags|cashtags|                link|retweet|quote_url|video|           thumbnail|near| geo|source|user_rt_id|user_rt|retweet_id|            reply_to|retweet_date|translate|trans_src|trans_dest|
+-------------------+-------------------+--------------------+----------+--------+--------+-------------------+---------------+--------------------+-----+----------------------------------+--------+--------------------+--------------------+------+-------------+--------------+-----------+--------------------+--------+--------------------+-------+---------+-----+--------------------+----+----+------+----------+-------+----------+--------------------+------------+---------+---------+----------+
|1478885309626544130|1478884437991608323|2022-01-05 18:25:...|2022-01-05|18:25:08|   -0600|1373081665916915714|   pipehennessy|   CJ Stroud Heisman| null|              @LegendOfWinning ...|      en|                  []|                  []|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|[{'screen_name': ...|        null|     null|     null|      null|
|1478885303704342528|1478885303704342528|2022-01-05 18:25:...|2022-01-05|18:25:07|   -0600| 834634229048815616|       oceanroi|           OCEAN DFS| null|              Desmond Bane (qua...|      en|                  []|['https://ift.tt/...|    []|            0|             0|          0|      ['nba', 'dfs']|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885303695724546|1478885303695724546|2022-01-05 18:25:...|2022-01-05|18:25:07|   -0600|         2294708612|   hoops227_nfl|       Jamaal Al-Din| null|               https://t.co/oEX...|      en|                  []|['http://nba.com/...|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885296217358338|1478885296217358338|2022-01-05 18:25:...|2022-01-05|18:25:05|   -0600|         2294708612|   hoops227_nfl|       Jamaal Al-Din| null|               https://t.co/s3z...|      en|                  []|['http://nba.com/...|    []|            0|             0|          0|        ['lakeshow']|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885294841683968|1478884396266672130|2022-01-05 18:25:...|2022-01-05|18:25:05|   -0600| 845448713443119105|     nicksophfe|               Nikão| null|              @PauladaJr Tinha ...|      pt|                  []|                  []|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|[{'screen_name': ...|        null|     null|     null|      null|
|1478885294824898562|1478885294824898562|2022-01-05 18:25:...|2022-01-05|18:25:05|   -0600| 795346984458653696|    thefocus_tv|            Focus TV| null|              "Beal and Christi...|      en|                  []|                  []|    []|            0|             0|          0|['thefocustv', 'w...|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885291750576145|1478857772389306370|2022-01-05 18:25:...|2022-01-05|18:25:04|   -0600|          837452114|         nba_de|        NBA Dirkland| null|              10.4.2019 - Last ...|      et|                  []|                  []|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    1|https://pbs.twimg...|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885290848964611|1478885290848964611|2022-01-05 18:25:...|2022-01-05|18:25:04|   -0600|         1116850286|    jmac2312012|     NBAの名言＆迷言| null|【告知】私の発行するNBAメルマガ...|      ja|                  []|['http://bit.ly/Z...|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885289082818561|1478885289082818561|2022-01-05 18:25:...|2022-01-05|18:25:03|   -0600|         2294708612|   hoops227_nfl|       Jamaal Al-Din| null|              NBA Leader: 27.4 ...|      en|                  []|['https://www.you...|    []|            0|             1|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885288848105474|1478865460238110728|2022-01-05 18:25:...|2022-01-05|18:25:03|   -0600|          120123383|   extremegamer|       Scott Burress| null|              @DirtyJerz32 @OSU...|      en|                  []|                  []|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|[{'screen_name': ...|        null|     null|     null|      null|
|1478885286394437634|1478884612042547206|2022-01-05 18:25:...|2022-01-05|18:25:03|   -0600|          250726039| mrstinkfingers| One Star Kyle ★☆☆☆☆| null|              @E_Pistons_Pod At...|      en|[{'screen_name': ...|                  []|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|[{'screen_name': ...|        null|     null|     null|      null|
|1478885282992689153|1478885282992689153|2022-01-05 18:25:...|2022-01-05|18:25:02|   -0600|1353081169940680704|     sediokapor|          sediokapor| null|              Denver Nuggets vs...|      en|                  []|['http://4k-hd.sp...|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    1|https://pbs.twimg...|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885277179555843|1478885277179555843|2022-01-05 18:25:...|2022-01-05|18:25:01|   -0600|1318323072362074112|       jahsiri_|         Luka Tronic| null|              "nobody:  NBA com...|      en|                  []|                  []|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885276931997701|1478885276931997701|2022-01-05 18:25:...|2022-01-05|18:25:01|   -0600|           21842584|  ballysportssw|Bally Sports Sout...| null|              From unknown to u...|      en|[{'screen_name': ...|                  []|    []|            0|             0|          0|       ['41forever']|      []|https://twitter.c...|  False|     null|    1|https://pbs.twimg...|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885273547120640|1478885273547120640|2022-01-05 18:25:...|2022-01-05|18:25:00|   -0600| 996145596200255488|         _tjkc_|Thom J. K. Cunnin...| null|              #ThunderUp has co...|      en|                  []|                  []|    []|            0|             0|          0|['thunderup', 'ra...|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885250835140614|1471255710352687108|2022-01-05 18:24:...|2022-01-05|18:24:54|   -0600|1359333543764189185|americanscreen1|NFL 🏈 AmericanSc...| null|              @BarreroCR Gran n...|      es|                  []|                  []|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|[{'screen_name': ...|        null|     null|     null|      null|
|1478885243906150403|1478885243906150403|2022-01-05 18:24:...|2022-01-05|18:24:53|   -0600|1321111384118222854|shagsportscards|   SHAG Sports Cards| null|              Superrrrrrrrrr ch...|      en|                  []|['https://shagspo...|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885231071576070|1478885231071576070|2022-01-05 18:24:...|2022-01-05|18:24:50|   -0600|1338985125728628737|  patriotsway71|        patriotsway7| null|              Wow crybaby @Joel...|      en|[{'screen_name': ...|                  []|    []|            0|             0|          0|    ['orlandomagic']|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885222405926913|1478885222405926913|2022-01-05 18:24:...|2022-01-05|18:24:48|   -0600|1353081169940680704|     sediokapor|          sediokapor| null|              Minnesota Timberw...|      en|                  []|['http://4k-hd.sp...|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    1|https://pbs.twimg...|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
|1478885214382399488|1478885214382399488|2022-01-05 18:24:...|2022-01-05|18:24:46|   -0600| 921027039146266629|    cameroonmag|   Cameroon Magazine| null|              CM – Prédictions ...|      fr|                  []|['https://www.cam...|    []|            0|             0|          0|                  []|      []|https://twitter.c...|  False|     null|    0|                null|null|null|  null|      null|   null|      null|                  []|        null|     null|     null|      null|
+-------------------+-------------------+--------------------+----------+--------+--------+-------------------+---------------+--------------------+-----+----------------------------------+--------+--------------------+--------------------+------+-------------+--------------+-----------+--------------------+--------+--------------------+-------+---------+-----+--------------------+----+----+------+----------+-------+----------+--------------------+------------+---------+---------+----------+
only showing top 20 rows

22/01/23 19:10:08 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [9]:
df.take(5)

[Row(id='1478885309626544130', conversation_id='1478884437991608323', created_at='2022-01-05 18:25:08 CST', date='2022-01-05', time='18:25:08', timezone='-0600', user_id='1373081665916915714', username='pipehennessy', name='CJ Stroud Heisman', place=None, tweet='@LegendOfWinning Nigga fat talking about nba players', language='en', mentions='[]', urls='[]', photos='[]', replies_count='0', retweets_count='0', likes_count='0', hashtags='[]', cashtags='[]', link='https://twitter.com/PipeHennessy/status/1478885309626544130', retweet='False', quote_url=None, video='0', thumbnail=None, near=None, geo=None, source=None, user_rt_id=None, user_rt=None, retweet_id=None, reply_to="[{'screen_name': 'LegendOfWinning', 'name': 'LegendOfWinning', 'id': '1642136329'}]", retweet_date=None, translate=None, trans_src=None, trans_dest=None),
 Row(id='1478885303704342528', conversation_id='1478885303704342528', created_at='2022-01-05 18:25:07 CST', date='2022-01-05', time='18:25:07', timezone='-0600', user_id='834634229048815616', username='oceanroi', name='OCEAN DFS', place=None, tweet='Desmond Bane (quad) doubtful Thursday.    #NBA #DFS    https://t.co/9c3GLd34WM', language='en', mentions='[]', urls="['https://ift.tt/3pqSgtI']", photos='[]', replies_count='0', retweets_count='0', likes_count='0', hashtags="['nba', 'dfs']", cashtags='[]', link='https://twitter.com/OceanROI/status/1478885303704342528', retweet='False', quote_url=None, video='0', thumbnail=None, near=None, geo=None, source=None, user_rt_id=None, user_rt=None, retweet_id=None, reply_to='[]', retweet_date=None, translate=None, trans_src=None, trans_dest=None),
 Row(id='1478885303695724546', conversation_id='1478885303695724546', created_at='2022-01-05 18:25:07 CST', date='2022-01-05', time='18:25:07', timezone='-0600', user_id='2294708612', username='hoops227_nfl', name='Jamaal Al-Din', place=None, tweet=' https://t.co/oEXRGZgaWE NBA LIVE: WARRIORS VS MAVERICKS (Livescore)  https://t.co/jMxlEaJ7uf  https://t.co/v6vxXFGGY0', language='en', mentions='[]', urls="['http://nba.com/clippers', 'https://www.youtube.com/watch?v=y7X891dIh2s&utm_source=dlvr.it&utm_medium=twitter', 'https://www.att.com']", photos='[]', replies_count='0', retweets_count='0', likes_count='0', hashtags='[]', cashtags='[]', link='https://twitter.com/Hoops227_NFL/status/1478885303695724546', retweet='False', quote_url=None, video='0', thumbnail=None, near=None, geo=None, source=None, user_rt_id=None, user_rt=None, retweet_id=None, reply_to='[]', retweet_date=None, translate=None, trans_src=None, trans_dest=None),
 Row(id='1478885296217358338', conversation_id='1478885296217358338', created_at='2022-01-05 18:25:05 CST', date='2022-01-05', time='18:25:05', timezone='-0600', user_id='2294708612', username='hoops227_nfl', name='Jamaal Al-Din', place=None, tweet=" https://t.co/s3z0MwmjVt Stanley Johnson Returning to The 227's YouTube Chili' Los Angeles Chili' Lakers #LakeShow Spicy'  https://t.co/WEHtanNhbz  https://t.co/V0vhTXSooA Spicy' NBA Mix! on a 10-Day Contract is Likely! Lakers News  https://t.co/wdo8xmp0iT  https://t.co/v6vxXFGGY0", language='en', mentions='[]', urls="['http://nba.com/lakers', 'https://www.nike.com/w/los-angeles-lakers-6m6dc', 'https://www.americanexpress.com', 'https://www.youtube.com/watch?v=OSoRiMys7iA&utm_source=dlvr.it&utm_medium=twitter', 'https://www.att.com']", photos='[]', replies_count='0', retweets_count='0', likes_count='0', hashtags="['lakeshow']", cashtags='[]', link='https://twitter.com/Hoops227_NFL/status/1478885296217358338', retweet='False', quote_url=None, video='0', thumbnail=None, near=None, geo=None, source=None, user_rt_id=None, user_rt=None, retweet_id=None, reply_to='[]', retweet_date=None, translate=None, trans_src=None, trans_dest=None),
 Row(id='1478885294841683968', conversation_id='1478884396266672130', created_at='2022-01-05 18:25:05 CST', date='2022-01-05', time='18:25:05', timezone='-0600', user_id='845448713443119105', username='nicksophfe', name='Nikão', place=None, tweet='@PauladaJr Tinha uma época q eu comprava e comia vendo NBA kkkkk uma pizza de palmito tbm é forte demais', language='pt', mentions='[]', urls='[]', photos='[]', replies_count='0', retweets_count='0', likes_count='0', hashtags='[]', cashtags='[]', link='https://twitter.com/Nicksophfe/status/1478885294841683968', retweet='False', quote_url=None, video='0', thumbnail=None, near=None, geo=None, source=None, user_rt_id=None, user_rt=None, retweet_id=None, reply_to="[{'screen_name': 'PauladaJr', 'name': 'paulo', 'id': '1045784064'}]", retweet_date=None, translate=None, trans_src=None, trans_dest=None)]

In [1]:
df = spark.read.option('header', 'true').csv('nba_tweets.csv')
# to select certain columns
df.show()

NameError: name 'spark' is not defined

In [11]:
type(df)

pyspark.sql.dataframe.DataFrame

In [12]:
df.head(2)

[Row(id='1478885309626544130', conversation_id='1478884437991608323', created_at='2022-01-05 18:25:08 CST', date='2022-01-05', time='18:25:08', timezone='-0600', user_id='1373081665916915714', username='pipehennessy', name='CJ Stroud Heisman', place=None, tweet='@LegendOfWinning Nigga fat talking about nba players', language='en', mentions='[]', urls='[]', photos='[]', replies_count='0', retweets_count='0', likes_count='0', hashtags='[]', cashtags='[]', link='https://twitter.com/PipeHennessy/status/1478885309626544130', retweet='False', quote_url=None, video='0', thumbnail=None, near=None, geo=None, source=None, user_rt_id=None, user_rt=None, retweet_id=None, reply_to="[{'screen_name': 'LegendOfWinning', 'name': 'LegendOfWinning', 'id': '1642136329'}]", retweet_date=None, translate=None, trans_src=None, trans_dest=None),
 Row(id='1478885303704342528', conversation_id='1478885303704342528', created_at='2022-01-05 18:25:07 CST', date='2022-01-05', time='18:25:07', timezone='-0600', user_id='834634229048815616', username='oceanroi', name='OCEAN DFS', place=None, tweet='Desmond Bane (quad) doubtful Thursday.    #NBA #DFS    https://t.co/9c3GLd34WM', language='en', mentions='[]', urls="['https://ift.tt/3pqSgtI']", photos='[]', replies_count='0', retweets_count='0', likes_count='0', hashtags="['nba', 'dfs']", cashtags='[]', link='https://twitter.com/OceanROI/status/1478885303704342528', retweet='False', quote_url=None, video='0', thumbnail=None, near=None, geo=None, source=None, user_rt_id=None, user_rt=None, retweet_id=None, reply_to='[]', retweet_date=None, translate=None, trans_src=None, trans_dest=None)]

In [13]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- conversation_id: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- timezone: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- username: string (nullable = true)
 |-- name: string (nullable = true)
 |-- place: string (nullable = true)
 |-- tweet: string (nullable = true)
 |-- language: string (nullable = true)
 |-- mentions: string (nullable = true)
 |-- urls: string (nullable = true)
 |-- photos: string (nullable = true)
 |-- replies_count: string (nullable = true)
 |-- retweets_count: string (nullable = true)
 |-- likes_count: string (nullable = true)
 |-- hashtags: string (nullable = true)
 |-- cashtags: string (nullable = true)
 |-- link: string (nullable = true)
 |-- retweet: string (nullable = true)
 |-- quote_url: string (nullable = true)
 |-- video: string (nullable = true)
 |-- thumbnail: string (nullable = true)
 |-- near: string (nullable = true)
 |-- geo: string (nullable = true)
 |-- source: string (nullable = true)
 |-- user_rt_id: string (nullable = true)
 |-- user_rt: string (nullable = true)
 |-- retweet_id: string (nullable = true)
 |-- reply_to: string (nullable = true)
 |-- retweet_date: string (nullable = true)
 |-- translate: string (nullable = true)
 |-- trans_src: string (nullable = true)
 |-- trans_dest: string (nullable = true)

In [14]:
df.columns

['id',
 'conversation_id',
 'created_at',
 'date',
 'time',
 'timezone',
 'user_id',
 'username',
 'name',
 'place',
 'tweet',
 'language',
 'mentions',
 'urls',
 'photos',
 'replies_count',
 'retweets_count',
 'likes_count',
 'hashtags',
 'cashtags',
 'link',
 'retweet',
 'quote_url',
 'video',
 'thumbnail',
 'near',
 'geo',
 'source',
 'user_rt_id',
 'user_rt',
 'retweet_id',
 'reply_to',
 'retweet_date',
 'translate',
 'trans_src',
 'trans_dest']

In [17]:
df.select('tweet').show()
# to select 1 columns

+----------------------------------+
|                             tweet|
+----------------------------------+
|              @LegendOfWinning ...|
|              Desmond Bane (qua...|
|               https://t.co/oEX...|
|               https://t.co/s3z...|
|              @PauladaJr Tinha ...|
|              "Beal and Christi...|
|              10.4.2019 - Last ...|
|【告知】私の発行するNBAメルマガ...|
|              NBA Leader: 27.4 ...|
|              @DirtyJerz32 @OSU...|
|              @E_Pistons_Pod At...|
|              Denver Nuggets vs...|
|              "nobody:  NBA com...|
|              From unknown to u...|
|              #ThunderUp has co...|
|              @BarreroCR Gran n...|
|              Superrrrrrrrrr ch...|
|              Wow crybaby @Joel...|
|              Minnesota Timberw...|
|              CM – Prédictions ...|
+----------------------------------+
only showing top 20 rows

In [18]:
df.select(['username', 'tweet']).show()

+---------------+----------------------------------+
|       username|                             tweet|
+---------------+----------------------------------+
|   pipehennessy|              @LegendOfWinning ...|
|       oceanroi|              Desmond Bane (qua...|
|   hoops227_nfl|               https://t.co/oEX...|
|   hoops227_nfl|               https://t.co/s3z...|
|     nicksophfe|              @PauladaJr Tinha ...|
|    thefocus_tv|              "Beal and Christi...|
|         nba_de|              10.4.2019 - Last ...|
|    jmac2312012|【告知】私の発行するNBAメルマガ...|
|   hoops227_nfl|              NBA Leader: 27.4 ...|
|   extremegamer|              @DirtyJerz32 @OSU...|
| mrstinkfingers|              @E_Pistons_Pod At...|
|     sediokapor|              Denver Nuggets vs...|
|       jahsiri_|              "nobody:  NBA com...|
|  ballysportssw|              From unknown to u...|
|         _tjkc_|              #ThunderUp has co...|
|americanscreen1|              @BarreroCR Gran n...|
|shagsportscards|              Superrrrrrrrrr ch...|
|  patriotsway71|              Wow crybaby @Joel...|
|     sediokapor|              Minnesota Timberw...|
|    cameroonmag|              CM – Prédictions ...|
+---------------+----------------------------------+
only showing top 20 rows

In [19]:
df.dtypes

[('id', 'string'),
 ('conversation_id', 'string'),
 ('created_at', 'string'),
 ('date', 'string'),
 ('time', 'string'),
 ('timezone', 'string'),
 ('user_id', 'string'),
 ('username', 'string'),
 ('name', 'string'),
 ('place', 'string'),
 ('tweet', 'string'),
 ('language', 'string'),
 ('mentions', 'string'),
 ('urls', 'string'),
 ('photos', 'string'),
 ('replies_count', 'string'),
 ('retweets_count', 'string'),
 ('likes_count', 'string'),
 ('hashtags', 'string'),
 ('cashtags', 'string'),
 ('link', 'string'),
 ('retweet', 'string'),
 ('quote_url', 'string'),
 ('video', 'string'),
 ('thumbnail', 'string'),
 ('near', 'string'),
 ('geo', 'string'),
 ('source', 'string'),
 ('user_rt_id', 'string'),
 ('user_rt', 'string'),
 ('retweet_id', 'string'),
 ('reply_to', 'string'),
 ('retweet_date', 'string'),
 ('translate', 'string'),
 ('trans_src', 'string'),
 ('trans_dest', 'string')]

In [20]:
df.describe().show()

+-------+--------------------+--------------------+--------------------+----------+--------+--------+--------------------+----------+------------------+--------------------+--------------------+------------------+--------+--------------------+-------+--------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|summary|                  id|     conversation_id|          created_at|      date|    time|timezone|             user_id|  username|              name|               place|               tweet|          language|mentions|                urls| photos|       replies_count|    retweets_count|       likes_count|            hashtags|            cashtags|                link|             retweet|           quote_url|               video|           thumbnail|                near|                 geo|              source|          user_rt_id|user_rt|          retweet_id|            reply_to|        retweet_date|           translate|           trans_src|          trans_dest|
+-------+--------------------+--------------------+--------------------+----------+--------+--------+--------------------+----------+------------------+--------------------+--------------------+------------------+--------+--------------------+-------+--------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  count|               22598|               22598|               22598|     22598|   22598|   22598|               22598|     22598|             22598|                   9|               22597|             22596|   22596|               22596|  22596|               22596|             22596|             22596|               22596|               22596|               22596|               22596|                1745|               22514|                3628|                  56|                  70|                  29|                  20|      7|                  16|               22429|                 218|                  83|                 118|                  72|
|   mean|1.479548666337930...|1.478619832853076...|                null|      null|    null|  -600.0|7.139384224365772...|      null| 300802.8157692308|                null|                null|1666.6666666666667|  2005.0|                null|   null|  0.3786905717598787|0.5337036214174627|3.6190053285968027|  3.7986577181208054|  0.8356164383561644|  0.7166666666666667|   3.888888888888889|                 0.0|  0.1546074628861843|  0.2608695652173913|0.058823529411764705|  0.1320754716981132|  1.8888888888888888|                 0.0|   null|                 0.0|                 0.0|                 0.0|                 1.0|                null|                null|
| stddev|1.135911443443808...|2.673619214022722...|                null|      null|    null|     0.0|6.301733534458828...|      null|1525031.7278853066|                null|                null|  816.496580927726|     0.0|                null|   null|   5.811696358611836|11.909781813827065| 76.62159155172117|   29.36397403552657|  3.1491343547347217|   2.630277852608143|   9.333333333333334|                 0.0|  0.3615381342287312|  0.5107539184552492| 0.24253562503633297|  0.3418128057789596|   4.935697631653616|                 0.0|   null|                 0.0|                 0.0|                 0.0|                 0.0|                null|                null|
|    min| 1478869939712790530| 1083904651945275393|2022-01-05 17:24:...|2022-01-05|09:34:59|   -0600| 1000221248801198081|007deeezyy|         ! Famouzz|           Maryland"| https://t.co/AQJ...|              #NFL|    #NBA| &amp; #NHL teams...| Future| 'name': ""de'aar...| 'id': '19537303'}|         P. Pierce| 'name': ""denver...| 'id': '142555644...|         N. Thurmond|      'name': 'c360'| 'id': '107268594...|           J. Worthy|             C. Bosh|           G. Hill."|                   0|                   0|                   0|     []|                   0|"[{'screen_name':...| 'id': '100019253...| 'id': '140278980...| 'name': ""Big Te...| 'id': '1262516059'}|
|    max| 1482445881144188928|  980836440484532224|2022-01-15 14:13:...|2022-01-15|20:24:30|   -0600|  998912105737801728|    zzodex|                🪐|{'type': 'Point',...|🥺 His little nos...|                zh|      pt|                  es|     pt|                  en|                en|                []|                  []|                  []|https://twitter.c...|https://twitter.c...|https://twitter.c...|https://twitter.c...|https://twitter.c...|https://twitter.c...|https://pbs.twimg...|https://twitter.c...|https://pbs.twimg...|     []|https://twitter.c...|[{'screen_name': ...|[{'screen_name': ...|[{'screen_name': ...|https://pbs.twimg...|https://twitter.c...|
+-------+--------------------+--------------------+--------------------+----------+--------+--------+--------------------+----------+------------------+--------------------+--------------------+------------------+--------+--------------------+-------+--------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [37]:
df2 = df.withColumn('age_new', df['age'] + 2)
df2.show()

+------+---+-------+
|  name|age|age_new|
+------+---+-------+
| jacob| 24|   26.0|
|  otis| 15|   17.0|
|buster| 13|   15.0|
+------+---+-------+

In [38]:
df2 = df2.drop('age_new')

In [40]:
df3 = df2.withColumnRenamed('age', 'age2')

In [56]:
# df2 = df.na.drop(how = 'any') # any or all, will drop na records aka the entire row.
df2 = df.na.drop(how = 'any', thresh = 2)

In [59]:
df2 = df
df2.show()

+------+----+
|  name| age|
+------+----+
| jacob|  24|
|  otis|  15|
|buster|null|
+------+----+

In [23]:
###### raw dataframe creation
df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [24]:
###### raw dataframe creation w/ schema provided
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [25]:
# create spark dataframe from pandas dataframe
pandas_df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [26]:
rdd = spark.sparkContext.parallelize([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
])
df = spark.createDataFrame(rdd, schema=['a', 'b', 'c', 'd', 'e'])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [27]:
# All DataFrames above result same.
df.show()
df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [28]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [29]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True) # use this in jupyter notebooks so you can fucking see shit.
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [30]:
df.show(1, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
only showing top 1 row

In [31]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [35]:
df.take(5)

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='string2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 1, 2, 12, 0)),
 Row(a=3, b=4.0, c='string3', d=datetime.date(2000, 3, 1), e=datetime.datetime(2000, 1, 3, 12, 0))]

In [36]:
df.columns

['a', 'b', 'c', 'd', 'e']

In [37]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [38]:
df.select("a", "b", "c").describe().show()

+-------+---+---+-------+
|summary|  a|  b|      c|
+-------+---+---+-------+
|  count|  3|  3|      3|
|   mean|2.0|3.0|   null|
| stddev|1.0|1.0|   null|
|    min|  1|2.0|string1|
|    max|  3|4.0|string3|
+-------+---+---+-------+

In [40]:
df2 = df.collect()
# collect() puts it in memory, cant work if you obv have too much data.
# use take(5) or tail(5) to get first 5 or last 5 to just see whats goin on 
df2 = df.take(5)

In [41]:
df_pandas = df.toPandas()  # turns it back into a pandas dataframe.

In [42]:
df.filter(df.a == 1).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [47]:
from pyspark.sql.functions import pandas_udf

@pandas_udf('long')
def pandas_plus_one(series: pd.Series) -> pd.Series:
    # Simply plus one by using pandas Series.
    return series + 1

df.select(pandas_plus_one(df.a)).show()

+------------------+
|pandas_plus_one(a)|
+------------------+
|                 2|
|                 3|
|                 4|
+------------------+

In [48]:
def pandas_filter_func(iterator):
    for pandas_df in iterator:
        yield pandas_df[pandas_df.a == 1]

df.mapInPandas(pandas_filter_func, schema=df.schema).show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [49]:
# group by stuff
df = spark.createDataFrame([
    ['red', 'banana', 1, 10], ['blue', 'banana', 2, 20], ['red', 'carrot', 3, 30],
    ['blue', 'grape', 4, 40], ['red', 'carrot', 5, 50], ['black', 'carrot', 6, 60],
    ['red', 'banana', 7, 70], ['red', 'grape', 8, 80]], schema=['color', 'fruit', 'v1', 'v2'])
df.show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|  red|banana|  1| 10|
| blue|banana|  2| 20|
|  red|carrot|  3| 30|
| blue| grape|  4| 40|
|  red|carrot|  5| 50|
|black|carrot|  6| 60|
|  red|banana|  7| 70|
|  red| grape|  8| 80|
+-----+------+---+---+

In [50]:
df.groupby('color').avg().show()

+-----+-------+-------+
|color|avg(v1)|avg(v2)|
+-----+-------+-------+
|  red|    4.8|   48.0|
| blue|    3.0|   30.0|
|black|    6.0|   60.0|
+-----+-------+-------+

In [51]:
def plus_mean(pandas_df):
    return pandas_df.assign(v1=pandas_df.v1 - pandas_df.v1.mean())

df.groupby('color').applyInPandas(plus_mean, schema=df.schema).show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|black|carrot|  0| 60|
| blue|banana| -1| 20|
| blue| grape|  1| 40|
|  red|banana| -3| 10|
|  red|carrot| -1| 30|
|  red|carrot|  0| 50|
|  red|banana|  2| 70|
|  red| grape|  3| 80|
+-----+------+---+---+

In [52]:
df1 = spark.createDataFrame(
    [(20000101, 1, 1.0), (20000101, 2, 2.0), (20000102, 1, 3.0), (20000102, 2, 4.0)],
    ('time', 'id', 'v1'))

df2 = spark.createDataFrame(
    [(20000101, 1, 'x'), (20000101, 2, 'y')],
    ('time', 'id', 'v2'))

def asof_join(l, r):
    return pd.merge_asof(l, r, on='time', by='id')

df1.groupby('id').cogroup(df2.groupby('id')).applyInPandas(
    asof_join, schema='time int, id int, v1 double, v2 string').show()

+--------+---+---+---+
|    time| id| v1| v2|
+--------+---+---+---+
|20000101|  1|1.0|  x|
|20000102|  1|3.0|  x|
|20000101|  2|2.0|  y|
|20000102|  2|4.0|  y|
+--------+---+---+---+

In [53]:
df.write.csv('foo.csv', header=True)
spark.read.csv('foo.csv', header=True).show()

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|black|carrot|  6| 60|
| blue|banana|  2| 20|
|  red|carrot|  5| 50|
|  red|banana|  1| 10|
|  red|carrot|  3| 30|
| blue| grape|  4| 40|
|  red|banana|  7| 70|
|  red| grape|  8| 80|
+-----+------+---+---+

In [54]:
df.write.parquet('bar.parquet')
spark.read.parquet('bar.parquet').show()

22/01/23 19:50:10 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers
22/01/23 19:50:10 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 84.47% for 8 writers
22/01/23 19:50:10 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 75.08% for 9 writers
22/01/23 19:50:10 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 84.47% for 8 writers
22/01/23 19:50:10 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers

+-----+------+---+---+
|color| fruit| v1| v2|
+-----+------+---+---+
|black|carrot|  6| 60|
| blue|banana|  2| 20|
|  red|banana|  7| 70|
| blue| grape|  4| 40|
|  red|carrot|  5| 50|
|  red|carrot|  3| 30|
|  red|banana|  1| 10|
|  red| grape|  8| 80|
+-----+------+---+---+

In [55]:
df.createOrReplaceTempView("tableA")
spark.sql("SELECT count(*) from tableA").show()

+--------+
|count(1)|
+--------+
|       8|
+--------+

In [56]:
@pandas_udf("integer")
def add_one(s: pd.Series) -> pd.Series:
    return s + 1

spark.udf.register("add_one", add_one)
spark.sql("SELECT add_one(v1) FROM tableA").show()

+-----------+
|add_one(v1)|
+-----------+
|          2|
|          3|
|          4|
|          5|
|          6|
|          7|
|          8|
|          9|
+-----------+

In [57]:
from pyspark.sql.functions import expr

df.selectExpr('add_one(v1)').show()
df.select(expr('count(*)') > 0).show()

+-----------+
|add_one(v1)|
+-----------+
|          2|
|          3|
|          4|
|          5|
|          6|
|          7|
|          8|
|          9|
+-----------+

+--------------+
|(count(1) > 0)|
+--------------+
|          true|
+--------------+