In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark
# https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/

21/12/05 10:51:50 WARN Utils: Your hostname, jacob-BigOtisLinux resolves to a loopback address: 127.0.1.1; using 192.168.50.142 instead (on interface enp6s0)
21/12/05 10:51:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/05 10:51:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.csv('cars.csv', header=True, sep=";")
df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [3]:
df.limit(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+

In [4]:
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [5]:
df.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

In [6]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [7]:
df = spark.read.csv('cars.csv', header=True, sep=";", inferSchema=True) # use this when loading in dfs
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [8]:
# 1st method
# Column name is case sensitive in this usage
print(df.Car)
print("*"*20)
df.select(df.Car).show(truncate=False)

Column<'Car'>
********************
+--------------------------------+
|Car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [9]:
# 2nd method
# Column name is case insensitive here
print(df['car'])
print("*"*20)
df.select(df['car']).show(truncate=False)

Column<'car'>
********************
+--------------------------------+
|car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [10]:
# 3rd method
# Column name is case insensitive here
from pyspark.sql.functions import col
df.select(col('car')).show(truncate=False)

+--------------------------------+
|car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [11]:
# 2nd method
# Column name is case insensitive in this usage
print(df['car'],df['cylinders'])
print("*"*40)
df.select(df['car'],df['cylinders']).show(truncate=False)

Column<'car'> Column<'cylinders'>
****************************************
+--------------------------------+---------+
|car                             |cylinders|
+--------------------------------+---------+
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
|Buick Estate Wagon (sw)         |8        |
+--------------------------------+---------+
only showing top 20 rows

In [12]:
# CASE 1: Adding a new column
# We will add a new column called 'first_column' at the end
from pyspark.sql.functions import lit
df = df.withColumn('first_column',lit(1))
# lit means literal. It populates the row with the literal value given.
# When adding static data / constant values, it is a good practice to use it.
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |1           |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |1           |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [13]:
# CASE 2: Adding multiple columns
# We will add two new columns called 'second_column' and 'third_column' at the end
df = df.withColumn('second_column', lit(2)) \
       .withColumn('third_column', lit('Third Column'))
# lit means literal. It populates the row with the literal value given.
# When adding static data / constant values, it is a good practice to use it.
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|third_column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |1           |2            |Third Column|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |1           |2            |Third Column|
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |1           |2            |Third Column|
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |1           |2            |Third Column|
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |1           |2            |Third Column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
only showing top 5 rows

In [14]:
#Renaming a column in PySpark
df = df.withColumnRenamed('first_column', 'new_column_one') \
       .withColumnRenamed('second_column', 'new_column_two') \
       .withColumnRenamed('third_column', 'new_column_three')
df.show(truncate=False)

+--------------------------------+----+---------+------------+----------+------+------------+-----+------+--------------+--------------+----------------+
|Car                             |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|new_column_one|new_column_two|new_column_three|
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+--------------+--------------+----------------+
|Chevrolet Chevelle Malibu       |18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |1             |2             |Third Column    |
|Buick Skylark 320               |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |1             |2             |Third Column    |
|Plymouth Satellite              |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |1             |2             |Third Column    |
|AMC Rebel SST                   |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |1             |2             |Third Column    |
|Ford Torino                     |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |1             |2             |Third Column    |
|Ford Galaxie 500                |15.0|8        |429.0       |198.0     |4341  |10.0        |70   |US    |1             |2             |Third Column    |
|Chevrolet Impala                |14.0|8        |454.0       |220.0     |4354  |9.0         |70   |US    |1             |2             |Third Column    |
|Plymouth Fury iii               |14.0|8        |440.0       |215.0     |4312  |8.5         |70   |US    |1             |2             |Third Column    |
|Pontiac Catalina                |14.0|8        |455.0       |225.0     |4425  |10.0        |70   |US    |1             |2             |Third Column    |
|AMC Ambassador DPL              |15.0|8        |390.0       |190.0     |3850  |8.5         |70   |US    |1             |2             |Third Column    |
|Citroen DS-21 Pallas            |0.0 |4        |133.0       |115.0     |3090  |17.5        |70   |Europe|1             |2             |Third Column    |
|Chevrolet Chevelle Concours (sw)|0.0 |8        |350.0       |165.0     |4142  |11.5        |70   |US    |1             |2             |Third Column    |
|Ford Torino (sw)                |0.0 |8        |351.0       |153.0     |4034  |11.0        |70   |US    |1             |2             |Third Column    |
|Plymouth Satellite (sw)         |0.0 |8        |383.0       |175.0     |4166  |10.5        |70   |US    |1             |2             |Third Column    |
|AMC Rebel SST (sw)              |0.0 |8        |360.0       |175.0     |3850  |11.0        |70   |US    |1             |2             |Third Column    |
|Dodge Challenger SE             |15.0|8        |383.0       |170.0     |3563  |10.0        |70   |US    |1             |2             |Third Column    |
|Plymouth 'Cuda 340              |14.0|8        |340.0       |160.0     |3609  |8.0         |70   |US    |1             |2             |Third Column    |
|Ford Mustang Boss 302           |0.0 |8        |302.0       |140.0     |3353  |8.0         |70   |US    |1             |2             |Third Column    |
|Chevrolet Monte Carlo           |15.0|8        |400.0       |150.0     |3761  |9.5         |70   |US    |1             |2             |Third Column    |
|Buick Estate Wagon (sw)         |14.0|8        |455.0       |225.0     |3086  |10.0        |70   |US    |1             |2             |Third Column    |
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+--------------+--------------+----------------+
only showing top 20 rows

In [15]:
# Group By a column in PySpark
df.groupBy('Origin').count().show(5)

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [16]:
# Group By multiple columns in PySpark
df.groupBy('Origin', 'Model').count().show(5)

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
|Europe|   71|    5|
|Europe|   80|    9|
|Europe|   79|    4|
| Japan|   75|    4|
|    US|   72|   18|
+------+-----+-----+
only showing top 5 rows

In [17]:
#Remove columns in PySpark
df = df.drop('new_column_one')
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------------+----------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|new_column_two|new_column_three|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------------+----------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |2             |Third Column    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |2             |Third Column    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |2             |Third Column    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |2             |Third Column    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |2             |Third Column    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+--------------+----------------+
only showing top 5 rows

In [18]:
#Remove multiple columnss in one go
df = df.drop('new_column_two') \
       .drop('new_column_three')
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436  |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [19]:
# Filtering rows in PySpark
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count))
europe_filtered_count = df.filter(col('Origin')=='Europe').count()
print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
df.filter(col('Origin')=='Europe').show(truncate=False)

TOTAL RECORD COUNT: 406
EUROPE FILTERED RECORD COUNT: 73
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas        |0.0 |4        |133.0       |115.0     |3090  |17.5        |70   |Europe|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.0        |46.0      |1835  |20.5        |70   |Europe|
|Peugeot 504                 |25.0|4        |110.0       |87.0      |2672  |17.5        |70   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.0      |2430  |14.5        |70   |Europe|
|Saab 99e                    |25.0|4        |104.0       |95.0      |2375  |17.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234  |12.5        |70   |Europe|
|Volkswagen Super Beetle 117 |0.0 |4        |97.0        |48.0      |1978  |20.0        |71   |Europe|
|Opel 1900                   |28.0|4        |116.0       |90.0      |2123  |14.0        |71   |Europe|
|Peugeot 304                 |30.0|4        |79.0        |70.0      |2074  |19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.0        |76.0      |2065  |14.5        |71   |Europe|
|Volkswagen Model 111        |27.0|4        |97.0        |60.0      |1834  |19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.0        |54.0      |2254  |23.5        |72   |Europe|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933  |14.5        |72   |Europe|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.0      |2511  |18.0        |72   |Europe|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.0      |2979  |19.5        |72   |Europe|
|Renault 12 (sw)             |26.0|4        |96.0        |69.0      |2189  |18.0        |72   |Europe|
|Volkswagen Super Beetle     |26.0|4        |97.0        |46.0      |1950  |21.0        |73   |Europe|
|Fiat 124 Sport Coupe        |26.0|4        |98.0        |90.0      |2265  |15.5        |73   |Europe|
|Fiat 128                    |29.0|4        |68.0        |49.0      |1867  |19.5        |73   |Europe|
|Opel Manta                  |24.0|4        |116.0       |75.0      |2158  |15.5        |73   |Europe|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [20]:
# Filtering rows in PySpark based on Multiple conditions
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count))
europe_filtered_count = df.filter((col('Origin')=='Europe') &
                                  (col('Cylinders')==4)).count() # Two conditions added here
print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
df.filter(col('Origin')=='Europe').show(truncate=False)

TOTAL RECORD COUNT: 406
EUROPE FILTERED RECORD COUNT: 66
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas        |0.0 |4        |133.0       |115.0     |3090  |17.5        |70   |Europe|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.0        |46.0      |1835  |20.5        |70   |Europe|
|Peugeot 504                 |25.0|4        |110.0       |87.0      |2672  |17.5        |70   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.0      |2430  |14.5        |70   |Europe|
|Saab 99e                    |25.0|4        |104.0       |95.0      |2375  |17.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234  |12.5        |70   |Europe|
|Volkswagen Super Beetle 117 |0.0 |4        |97.0        |48.0      |1978  |20.0        |71   |Europe|
|Opel 1900                   |28.0|4        |116.0       |90.0      |2123  |14.0        |71   |Europe|
|Peugeot 304                 |30.0|4        |79.0        |70.0      |2074  |19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.0        |76.0      |2065  |14.5        |71   |Europe|
|Volkswagen Model 111        |27.0|4        |97.0        |60.0      |1834  |19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.0        |54.0      |2254  |23.5        |72   |Europe|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933  |14.5        |72   |Europe|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.0      |2511  |18.0        |72   |Europe|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.0      |2979  |19.5        |72   |Europe|
|Renault 12 (sw)             |26.0|4        |96.0        |69.0      |2189  |18.0        |72   |Europe|
|Volkswagen Super Beetle     |26.0|4        |97.0        |46.0      |1950  |21.0        |73   |Europe|
|Fiat 124 Sport Coupe        |26.0|4        |98.0        |90.0      |2265  |15.5        |73   |Europe|
|Fiat 128                    |29.0|4        |68.0        |49.0      |1867  |19.5        |73   |Europe|
|Opel Manta                  |24.0|4        |116.0       |75.0      |2158  |15.5        |73   |Europe|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [21]:
#Get Unique Rows in PySpark
df.select('Origin').distinct().show()

+------+
|Origin|
+------+
|Europe|
|    US|
| Japan|
+------+

In [22]:
df.select('Origin','model').distinct().show()

+------+-----+
|Origin|model|
+------+-----+
|Europe|   71|
|Europe|   80|
|Europe|   79|
| Japan|   75|
|    US|   72|
|    US|   80|
|Europe|   74|
| Japan|   79|
|Europe|   76|
|    US|   75|
| Japan|   77|
|    US|   82|
| Japan|   80|
| Japan|   78|
|    US|   78|
|Europe|   75|
|    US|   71|
|    US|   77|
| Japan|   70|
| Japan|   71|
+------+-----+
only showing top 20 rows

In [23]:
df.orderBy('Cylinders').show(truncate=False)

+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Mazda RX-4                  |21.5|3        |80.0        |110.0     |2720  |13.5        |77   |Japan |
|Mazda RX-7 GS               |23.7|3        |70.0        |100.0     |2420  |12.5        |80   |Japan |
|Mazda RX2 Coupe             |19.0|3        |70.0        |97.0      |2330  |13.5        |72   |Japan |
|Mazda RX3                   |18.0|3        |70.0        |90.0      |2124  |13.5        |73   |Japan |
|Datsun 510 (sw)             |28.0|4        |97.0        |92.0      |2288  |17.0        |72   |Japan |
|Opel 1900                   |28.0|4        |116.0       |90.0      |2123  |14.0        |71   |Europe|
|Mercury Capri 2000          |23.0|4        |122.0       |86.0      |2220  |14.0        |71   |US    |
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.0        |46.0      |1835  |20.5        |70   |Europe|
|Peugeot 304                 |30.0|4        |79.0        |70.0      |2074  |19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.0        |76.0      |2065  |14.5        |71   |Europe|
|Chevrolet Vega (sw)         |22.0|4        |140.0       |72.0      |2408  |19.0        |71   |US    |
|Datsun 1200                 |35.0|4        |72.0        |69.0      |1613  |18.0        |71   |Japan |
|Volkswagen Model 111        |27.0|4        |97.0        |60.0      |1834  |19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.0        |54.0      |2254  |23.5        |72   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.0      |2430  |14.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234  |12.5        |70   |Europe|
|Toyota Corolla 1200         |31.0|4        |71.0        |65.0      |1773  |19.0        |71   |Japan |
|Chevrolet Vega 2300         |28.0|4        |140.0       |90.0      |2264  |15.5        |71   |US    |
|Ford Pinto                  |25.0|4        |98.0        |0.0       |2046  |19.0        |71   |US    |
|Dodge Colt Hardtop          |25.0|4        |97.5        |80.0      |2126  |17.0        |72   |US    |
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [24]:
df.orderBy('Cylinders', ascending=False).show(truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Plymouth 'Cuda 340       |14.0|8        |340.0       |160.0     |3609  |8.0         |70   |US    |
|Pontiac Safari (sw)      |13.0|8        |400.0       |175.0     |5140  |12.0        |71   |US    |
|Ford Mustang Boss 302    |0.0 |8        |302.0       |140.0     |3353  |8.0         |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693  |11.5        |70   |US    |
|Chevrolet Monte Carlo    |15.0|8        |400.0       |150.0     |3761  |9.5         |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433  |12.0        |70   |US    |
|Buick Estate Wagon (sw)  |14.0|8        |455.0       |225.0     |3086  |10.0        |70   |US    |
|Ford Galaxie 500         |15.0|8        |429.0       |198.0     |4341  |10.0        |70   |US    |
|Ford F250                |10.0|8        |360.0       |215.0     |4615  |14.0        |70   |US    |
|Plymouth Fury iii        |14.0|8        |440.0       |215.0     |4312  |8.5         |70   |US    |
|Chevy C20                |10.0|8        |307.0       |200.0     |4376  |15.0        |70   |US    |
|AMC Ambassador DPL       |15.0|8        |390.0       |190.0     |3850  |8.5         |70   |US    |
|Dodge D200               |11.0|8        |318.0       |210.0     |4382  |13.5        |70   |US    |
|Ford Torino (sw)         |0.0 |8        |351.0       |153.0     |4034  |11.0        |70   |US    |
|Hi 1200D                 |9.0 |8        |304.0       |193.0     |4732  |18.5        |70   |US    |
|AMC Rebel SST (sw)       |0.0 |8        |360.0       |175.0     |3850  |11.0        |70   |US    |
|Chevrolet Impala         |14.0|8        |350.0       |165.0     |4209  |12.0        |71   |US    |
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504  |12.0        |70   |US    |
|Pontiac Catalina Brougham|14.0|8        |400.0       |175.0     |4464  |11.5        |71   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449  |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [25]:
df.groupBy("Origin").count().orderBy('count', ascending=False).show(10)

+------+-----+
|Origin|count|
+------+-----+
|    US|  254|
| Japan|   79|
|Europe|   73|
+------+-----+

In [26]:
# CASE 1: Union When columns are in order
df = spark.read.csv('cars.csv', header=True, sep=";", inferSchema=True)
europe_cars = df.filter((col('Origin')=='Europe') & (col('Cylinders')==5))
japan_cars = df.filter((col('Origin')=='Japan') & (col('Cylinders')==3))
print("EUROPE CARS: "+str(europe_cars.count()))
print("JAPAN CARS: "+str(japan_cars.count()))
print("AFTER UNION: "+str(europe_cars.union(japan_cars).count()))

EUROPE CARS: 3
JAPAN CARS: 4
AFTER UNION: 7

In [27]:
# CASE 1: Union When columns are not in order
# Creating two dataframes with jumbled columns
df1 = spark.createDataFrame([[1, 2, 3]], ["col0", "col1", "col2"])
df2 = spark.createDataFrame([[4, 5, 6]], ["col1", "col2", "col0"])
df1.unionByName(df2).show()

+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|   2|   3|
|   6|   4|   5|
+----+----+----+